form {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  max-width: 20%;
}

button {
  background-color: #003be5;
  border: 0;
  border-radius: 3px;
  color: white;
  max-width: min-content;
  padding: 10px 30px;
}

button:hover {
  background: #0030c0;
  cursor: pointer;
}

label {
  font-weight: 700;
}
